[submodule "public"]
	path = public
	url = ../../lucassabreu/lucassabreu.github.io.git
	branch = master
[submodule "themes/after-dark"]
	path = themes/after-dark
	url = ../../lucassabreu/after-dark.git
	branch = master
